:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #2196F3;
}

body {
    font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

p,
ul {
  padding: 0;
}

img {
    display: block;
}

.container {
    max-width: 1200px; /* czy ten max dobrze */
    padding: 0 15px;
    align-items: center;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-two {
    padding-bottom: 94px;
}  /*sprawdz czy dobrze te paddingi sie nakladaja */

.list {
    list-style: none;
} 

.header .container {
    display: flex;

}

.navigation-list {
    display: flex;
}

.header-adress {
    display: flex;
}

/* ========components========*/

/* ====buttons====*/

.modal-button {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    background:var(--main-color);
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 0;
}

.modal-button-text {
    padding-top: 10px;
    padding-right: 41px;
    padding-bottom: 10px;
    padding-left: 42px;
}

.modal-button-portfolio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    background: #F5F4FA;
    color: #212121;
    border-radius: 4px;
    border: 0;
    padding: 0;
}

.modal-button-portfolio-text {
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
}

.modal-button-portfolio-active-page-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    background:var(--main-color);
    color: #FFFFFF;  
    border: 0;
    border-radius: 4px;
    padding: 0;
}

/*hoover-button*/ 

.modal-button:hover,
.modal-button:focus {
    color: #FFFFFF;
}

.modal-button-portfolio:hover,
.modal-button-portfolio:focus {
    color: var(--main-color);
}

.modal-button-portfolio-active-page-button:hover 
.modal-button-portfolio-active-page-button:focus {
    color: #FFFFFF;    
}   

/* ====end-buttons====*/

/* ========end-components========*/

/* =============header=============*/

/* =border-headera=*/
.header {
  border-bottom: 1px solid #ececec;
}

.logo-box {
    margin-top: 24px;
    margin-right: 93px;
    margin-bottom: 25px;
}

.logo-link {
    font-family:var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;  
    color: var(--main-color);
}

.logo-link-header-black-color {
    color:#000000;
}

.navigation-list-item {
    margin-top: 32px;
    margin-bottom: 32px;
}

.navigation-list-item:not(:last-child) {
    margin-right: 46px;
}

.navigation-list-item-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none; 
    color: #212121; 
}

/*==portfolio-navigation-list-actual-page-marker==*/

.navigation-list-item-link-actual-page {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none; 
    color: var(--main-color); 
}
/*==end-portfolio-navigation-list-actual-page-marker==*/

.navigation-list-item-link:hover,
.navigation-list-item-link:focus {
    color: var(--main-color);
}

.header-email {
    margin-top: 32px;
    margin-right: 50px;
    margin-bottom: 32px;
    margin-left: 371px;
}

.header-phone-number {
    margin-top: 32px;
    margin-right: 12px;
    margin-bottom: 32px;
}

.header-email,
.header-phone-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none; 
    color: #757575; 
}

/*===email-phone-number-hover-focus===*/

.header-email:hover,
.header-email:focus,
.header-phone-number:hover,
.header-phone-number:focus {
    color: var(--main-color);  
}

/*===end-email-phone-number-hover-focus===*/

.section-background-color {
    background: #2F303A;
}  

.background-box {
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    text-align: center; */
}

.main-header-box {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 30px;
}

.main-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;

    width: 696px;
    
}

.modal-button-box {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
} 



/*=============end-header=============*/

/*===============main===============*/

/*===nasze-atuty===*/

.lorem-ipsum-list {
    display: flex;
}

.lorem-ipsum-list-item {

}

.lorem-ipsum-list-item:not(:last-child) {
    margin-right: 30px;
}

.lorem-ipsum-undertitle {
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}   

.description {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
}

/*===end-nasze-atuty===*/

/*===czym-się-zajmujemy===*/

.gallery-list {
    display: flex;
    margin-top: 50px;
}

.gallery-list-item:not(:last-child) {
    margin-right: 30px;
}

/*===end-czym-się-zajmujemy===*/


/*===nasz-zespół=== */

.about-us {
    background: #F5F4FA;
}

.secondary-header {
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
}

.team-gallery-list {
    display: flex;
    flex-wrap: wrap;  /*sprawdz może usun*/
    justify-content: center;
    margin-top: 50px;
}

.team-gallery-item-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: 0;
}


.team-gallery-item:not(:last-child) {
    margin-right: 30px;
}

.first-name-last-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
}

.speciality {
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
    padding-bottom: 30px;
}

/*===end-nasz-zespół===*/

/*==portfolio-buttons-section==*/

.modal-button-portfolio {
    
}


.modal-button-portfolio-active-page-button {
    
}

.box-buttons {
   margin-bottom: 50px;
 
}

.box-buttons-list {
    /*display: inline-flex;
    justify-self: start; */
    display: flex;
    justify-content:center
    /*justify-content:center; /* czy to dobrze*/
    
}

.filters .container {
    display: flex;
    flex-direction: column;
}

.box-buttons-list li:not(:last-child) {
    margin-right: 8px;  /*sprawdz*/
}



/*==end-portfolio-buttons-section==*/


/*===projects===*/

.card-project-set {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
}

.card-project-set-item {
    flex-basis: calc(100% / 3 - 30px);
}

.card-project-set-item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.services-gallery-picture {
  background: #ffffff;
  margin: 0 30px 0 0;
}

.services-gallery-description {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  max-width: 370px;
}

.project-name {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em; 
    color: #212121; 
    padding-top: 20px;
    padding-right: 24px; 
    margin-bottom: 4px;
    padding-left: 24px;
}

.project-type {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
}

/* ===end-projects=== */

/*=============end-main=============*/

/*=============footer=============*/

.footer-background-color {
    background: #2F303A;
    
}

/*===address===*/

.footer-background-color .container {
    display: flex;
    flex-direction: column; 
    align-items: baseline;
}

.address {
    font-style: normal;
}

.address-postal {
    margin-bottom: 9px;
}

.logo-box-footer {
    padding-top: 60px;
    margin-bottom: 20px;
}   

.logo-link-footer {
    font-family:var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;  
    color: var(--main-color);
}

.logo-link-footer-white-color {
    color: #FFFFFF;  
}

.address-box {
    padding-bottom: 60px;
}

.address-email {
    display: inline-block;
    margin-bottom: 9px;
}

.address-postal,
.address-email,
.address-phone-number {   
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.address-postal {
    color: #FFFFFF;
}

.address-email,
.address-phone-number {
    color: rgba(255, 255, 255, 0.6);
}

/*===hover-focus===*/

.address-postal:hover,
.address-postal:focus,
.address-email:hover,
.address-email:focus,
.address-phone-number:hover,
.address-phone-number:focus {
    color: var(--main-color);     
}

/*===end-hover-focus===*/

/*===end-address===*/

/* =============end-footer=============*/