:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

p,
ul {
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-two {
  padding-bottom: 94px;
} /*sprawdz czy dobrze te paddingi sie nakladaja */

.list {
  list-style: none;
}
/* czy to dobrze */
.link {
  text-decoration: none;
}

.header .container {
  display: flex;
}

.navigation-list {
  display: flex;
}

.header-adress {
  display: flex;
}

/* ========components========*/

/* ====buttons====*/

.modal-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  background: var(--main-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 0;
}

.modal-button-text {
  padding-top: 10px;
  padding-right: 41px;
  padding-bottom: 10px;
  padding-left: 42px;
}

.modal-button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: #f5f4fa;
  color: #212121;
  border-radius: 4px;
  border: 0;
  padding: 0;
}

.modal-button-portfolio-text {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
}

.modal-button-portfolio-active-page-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: var(--main-color);
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  padding: 0;
}

/*hoover-button*/

.modal-button:hover,
.modal-button:focus {
  color: #ffffff;
}

.modal-button-portfolio:hover,
.modal-button-portfolio:focus {
  color: var(--main-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal-button-portfolio-active-page-button:hover,
.modal-button-portfolio-active-page-button:focus {
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* ====end-buttons====*/

/* ========end-components========*/

/* =============header=============*/

/*=border-header=*/
.header {
  border-bottom: 1px solid #ececec;
}

.logo-box {
  margin-top: 24px;
  margin-right: 93px;
  margin-bottom: 25px;
}

.logo-link {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-color);
}

.logo-link-header-black-color {
  color: #000000;
}

.navigation-list-item {
  margin-top: 32px;
  margin-bottom: 32px;
}

.header-adress {
  display: flex;
  align-items: center;
}

.header-adress-list-second-item {
  margin-top: 33px;
  margin-bottom: 31px;
}

/*
.header-adress-list-item:first-child{
display: flex;
align-items: center;
}
*/

/*
.header-adress-list-item:first-child::before {
content:"";
display: flex;
width: 16px; 
height: 12px;
background-color: var(--main-color);            
}

*/

.adress-icon {
  width: 16px;
  height: 12px;
}

.adress-icon-second {
  width: 10px;
  height: 16px;
}

.adress-icon:hover,
.adress-icon:focus {
  fill: var(--main-color);
  box-sizing: border-box;
  width: 16px;
  height: 12px;
  box-sizing: border-box;
}

.adress-icon-second:hover,
.adress-icon-second:focus {
  fill: var(--main-color);
  box-sizing: border-box;
  width: 10px;
  height: 16px;
  box-sizing: border-box;
}

.adress-list__link-header {
  display: flex;

  width: 16px;
  height: 12px;

  align-items: center;
  margin-left: 345px;

  fill: #757575;
}

.adress-list__link-header:hover,
.adress-list__link-header:focus {
  fill: var(--main-color);
}

.adress-list__link-second-header {
  display: flex;
  width: 10px;
  height: 16px;
  align-items: center;
  fill: #757575;
}

.navigation-list-item:not(:last-child) {
  margin-right: 46px;
}

.navigation-list-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

/*==portfolio-navigation-list-actual-page-marker==*/

.navigation-list-item-link-actual-page {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
}
/*==end-portfolio-navigation-list-actual-page-marker==*/

.navigation-list-item-link:hover,
.navigation-list-item-link:focus {
  color: var(--main-color);
}

.header-email {
  margin-top: 32px;
  margin-right: 30px;
  margin-bottom: 32px;
  margin-left: 10px;
}

.header-phone-number {
  margin-top: 33px;
  margin-bottom: 31px;
  margin-left: 10px;
}

.header-email,
.header-phone-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

/*===email-phone-number-hover-focus===*/

.header-email:hover,
.header-email:focus,
.header-phone-number:hover,
.header-phone-number:focus {
  color: var(--main-color);
}

.adress-list__link-header:hover,
.adress-list__link-header:focus {
  color: var(--main-color);
}

.adress-list__link-second--header:hover,
.adress-list__link-second--header:focus {
  color: var(--main-color);
}

/*===end-email-phone-number-hover-focus===*/

.section-background-color {
  background: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Headerbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.background-box {
  display: flex;
  flex-direction: column;
  /*justify-content: center;
    text-align: center; */
}

.main-header-box {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 30px;
}

.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
}

.modal-button-box {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

/*=============end-header=============*/

/*===============main===============*/

/*===nasze-atuty===*/

.lorem-ipsum-list {
  display: flex;
}

.lorem-ipsum-list-item:not(:last-child) {
  margin-right: 30px;
}

.lorem-ipsum-undertitle {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}

.feature-icon {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  box-sizing: border-box;
  fill: #f5f4fa;
}

.feature-list__link {
  width: 270px;
  height: 120px;
}

.feature-list__link:hover,
.feature-list__link:focus {
  color: var(--main-color);
}

.feature-icon:hover,
.feature-icon:focus {
  fill: var(--main-color);
  box-sizing: border-box;
  width: 270px;
  height: 120px;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  box-sizing: border-box;
}

.description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

/*===end-nasze-atuty===*/

/*===czym-się-zajmujemy===*/

.gallery-list {
  display: flex;
  margin-top: 50px;
}

.gallery-list-item:not(:last-child) {
  margin-right: 30px;
}

/*===end-czym-się-zajmujemy===*/

/*===nasz-zespół=== */

.about-us {
  background: #f5f4fa;
}

.secondary-header {
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.team-gallery-list {
  display: flex;
  flex-wrap: wrap; /*sprawdz może usun*/
  justify-content: center;
  margin-top: 50px;
}

.team-gallery-item-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0;
}

.team-gallery-item:not(:last-child) {
  margin-right: 30px;
}

.first-name-last-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}

.speciality {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  /* padding-bottom: 30px; */
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  align-items: center;
  /*justify-content: space-between; */
  margin-left: 32px;
  margin-right: 32px;
}

.social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  margin-bottom: 30px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-list__link:hover,
.social-list__link:focus {
  fill: #ffffff;
  background-color: var(--main-color);
}

/*===end-nasz-zespół===*/

/*===Nasi-klienci===*/

.client-icon-list {
  display: flex;
  flex-wrap: wrap; /*sprawdz może usun*/
  justify-content: center;
  margin-top: 50px;
}

.client-gallery-item:not(:last-child) {
  margin-right: 30px;
}

.client-icon {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  box-sizing: border-box;
  fill: #afb1b8;
}

.client-list__link {
  width: 170px;
  height: 92px;
}

.client-icon:hover,
.client-icon:focus {
  fill: var(--main-color);
  box-sizing: border-box;
  width: 170px;
  height: 92px;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  box-sizing: border-box;
}

.client-list__link:hover,
.client-list__link:focus {
  color: var(--main-color);
}

/*===End-Nasi-klienci===*/

/*==portfolio-buttons-section==*/

.box-buttons {
  margin-bottom: 50px;
}

.box-buttons-list {
  /*display: inline-flex;
    justify-self: start; */
  display: flex;
  justify-content: center;
  /*justify-content:center; /* czy to dobrze*/
}

.filters .container {
  display: flex;
  flex-direction: column;
}

.box-buttons-list li:not(:last-child) {
  margin-right: 8px; /*sprawdz*/
}

/*==end-portfolio-buttons-section==*/

/*===projects===*/

.card-project-set {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.card-project-set-item {
  flex-basis: calc(100% / 3 - 30px);
}

.card-project-set-item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card-project-set-item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.services-gallery-picture {
  background: #ffffff;
  margin: 0 30px 0 0;
}

.services-gallery-description {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  max-width: 370px;
}

.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-top: 20px;
  padding-right: 24px;
  margin-bottom: 4px;
  padding-left: 24px;
}

.project-type {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

/* ===end-projects=== */

/*=============end-main=============*/

/*=============footer=============*/

.footer-background-color {
  background: #2f303a;
  display: flex;
}

/*===address===*/

.footer-background-color {
}

.main-box {
  display: flex;
}

.address {
  font-style: normal;
}

.address-postal {
  margin-bottom: 9px;
}

.logo-box-footer {
  padding-top: 60px;
  margin-bottom: 20px;
}

.logo-link-footer {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-color);
}

.logo-link-footer-white-color {
  color: #ffffff;
}

.address-box {
  padding-bottom: 60px;
}

.address-email {
  display: inline-block;
  margin-bottom: 9px;
}

.address-email-portfolio {
  display: inline-block;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.address-postal,
.address-email,
.address-phone-number {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address-postal {
  color: #ffffff;
  white-space: nowrap;
}

.address-email,
.address-phone-number,
.address-email-portfolio {
  color: rgba(255, 255, 255, 0.6);
}

/*==Dołącz do nas==*/

.footer-right-content {
  margin-top: 72px;
  margin-right: 863px;
  margin-bottom: 100px;
  margin-left: 70px;
}

.social-list-footer {
  display: flex;
}

.social-list__link-footer {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__link-footer:hover,
.social-list__link-footer:focus {
  fill: #ffffff;
  background-color: var(--main-color);
}

.social-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;

  /* padding-bottom: 30px; */
  /*margin-top: 72px;
  margin-bottom: 164px;
  margin-right: 956px;
  margin-left: 531px;

width: 113px;
height: 16px;
left: 531px;
top: 2751px;*/
}

/*===hover-focus===*/

.address-postal:hover,
.address-postal:focus,
.address-email:hover,
.address-email:focus,
.address-phone-number:hover,
.address-phone-number:focus,
.address-email-portfolio:hover,
.address-email-portfolio:focus {
  color: var(--main-color);
}

/*===end-hover-focus===*/

/*===end-address===*/

/* =============end-footer=============*/
