.client {
  &__icon-list {
    display: flex;
    flex-wrap: wrap; /*sprawdz może usun*/
    justify-content: center;
    margin-top: 50px;
  }

  &__gallery-item:not(:last-child) {
    margin-right: 30px;
  }

  &__gallery-item {
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    box-sizing: border-box;
  }

  &__icon-box {
    width: 170px;
    height: 92px;
    box-sizing: border-box;
  }

  &__list-link {
    display: inline-flex;
    width: 170px;
    height: 92px;
    border-color: var(--main-color);
    fill: var(--main-color);
  }

  &__icon-box:hover,
  &__icon-box:focus {
    fill: var(--main-color);
    box-sizing: border-box;
    border-color: var(--main-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__list-link:hover,
  &__list-link:focus {
    color: var(--main-color);
    fill: var(--main-color);
    width: 170px;
    height: 92px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__gallery-item:hover,
  &__gallery-item:focus {
    color: var(--main-color);
    width: 170px;
    height: 92px;
    border-color: var(--main-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__list-link:hover &__icon-box,
  &__list-link:focus &__icon-box {
    fill: var(--main-color);
    box-sizing: border-box;
    border-color: var(--main-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.client-icon-1 {
  width: 41px;
  height: 46.7px;
  box-sizing: border-box;
  fill: #afb1b8;
  margin-top: 24.71px;
  margin-right: 65px;
  margin-bottom: 20.58px;
  margin-left: 64px;
}

.client-icon-2 {
  width: 40px;
  height: 52px;
  box-sizing: border-box;
  fill: #afb1b8;
  margin-top: 20.71px;
  margin-right: 65px;
  margin-bottom: 19.29px;
  margin-left: 65px;
}

.client-icon-3 {
  width: 44.46px;
  height: 41.18px;
  box-sizing: border-box;
  fill: #afb1b8;
  margin-top: 24.7px;
  margin-right: 64.86px;
  margin-bottom: 26.12px;
  margin-left: 61.68px;
}

.client-icon-4 {
  width: 84.44px;
  height: 40.62px;
  box-sizing: border-box;
  fill: #afb1b8;
  margin-top: 24.7px;
  margin-right: 42.56px;
  margin-bottom: 26.68px;
  margin-left: 43px;
}

.client-icon-5 {
  width: 62.54px;
  height: 45.43px;
  box-sizing: border-box;
  fill: #afb1b8;
  margin-top: 22.77px;
  margin-right: 53.46px;
  margin-bottom: 23.8px;
  margin-left: 54px;
}

.client-icon-6 {
  width: 93.79px;
  height: 43.93px;
  box-sizing: border-box;
  fill: #afb1b8;
  margin-top: 22.77px;
  margin-right: 38.21px;
  margin-bottom: 25.31px;
  margin-left: 38px;
}
