.header {
  border-bottom: 1px solid #ececec;
}

.header-adress {
  display: flex;
  align-items: center;

  &__list-item:hover,
  &__list-item:focus,
  &__link-second:hover,
  &__link-second:focus {
    fill: var(--main-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    width: 16px;
    height: 12px;
    margin-top: 34px;
    margin-right: 10px;
    margin-bottom: 34px;
    margin-left: 345px;
  }

  &__icon-second {
    width: 10px;
    height: 16px;
    margin-top: 33px;
    margin-right: 10px;
    margin-bottom: 31px;
    margin-left: 30px;
  }

  &__icon:hover,
  &__icon:focus {
    fill: var(--main-color);
    box-sizing: border-box;
    width: 16px;
    height: 12px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon-second:hover,
  &__icon-second:focus {
    fill: var(--main-color);
    box-sizing: border-box;
    width: 10px;
    height: 16px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link {
    display: flex;
    align-items: center;
    fill: #757575;
  }

  &__link:hover,
  &__link:focus {
    fill: var(--main-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link-second {
    display: flex;
    align-items: center;
    fill: #757575;
  }

  &__link:hover,
  &__link:focus {
    color: var(--main-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link-second:hover,
  &__link-second:focus {
    color: var(--main-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header-email,
.header-phone-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.header-email:hover,
.header-email:focus,
.header-phone-number:hover,
.header-phone-number:focus {
  color: var(--main-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
