.navigation {

  &__list {
  display: flex;
  }

  &__list-item {
  margin-top: 32px;
  margin-bottom: 32px;
  position: relative;

    :not(:last-child) {
    margin-right: 46px;
    }
  }

  &__list-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  }

  &__list-item-link:hover,
  &__list-item-link:focus {
  color: var(--main-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}