.portfolio {

  &__card-project-set {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  }

  &__services-gallery-picture {
  background: #ffffff;
  margin: 0 30px 0 0;
  }

  &__services-gallery-description {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  max-width: 370px;
  }

  &__project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-top: 20px;
  padding-right: 24px;
  margin-bottom: 4px;
  padding-left: 24px;
  }

  &__project-type {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  }

  &__card-project-set-item {
  position: relative;
  overflow: hidden;
  }

  &__card-project-set-item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  transform: translatey(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__card-project-set-item:nth-child(-n + 6) {
  margin-bottom: 30px;
  }

  &__card-project-set-item:hover .portfolio__overlay {
  transform: translatey(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  transform: translateY(140%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    & p {
  margin: 0;
  background-color: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 294px;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-top: 49px;
  padding-right: 45px;
  padding-bottom: 49px;
  padding-left: 24px;
    }
  }
}