.team {
  background: #f5f4fa;

  &__gallery-list {
  display: flex;
  flex-wrap: wrap; /*sprawdz może usun*/
  justify-content: center;
  margin-top: 50px;
  }

  &__gallery-item-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0;
  }

  &__gallery-item:not(:last-child) {
  margin-right: 30px;
  }

  &__first-name-last-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
  }

  &__speciality {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
  }
}

.secondary-header {
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}