/* ==== backdrop-modal-window ====*/

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  height: 581px;
  width: 528px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #ffffff;

  transform-origin: center center;
  transform: translate(-50%, -50%);
  animation-iteration-count: 1;
}

.animated-modal {
  animation: animateModal 4s;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__icon-close {
  fill: #ffffff;
  color: #2196f3;
}

/* ======== form ========== */

.modal__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__form-wrapper {
  padding: 40px;

  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal__form-wrapper h3 {
  text-align: center;
  padding-bottom: var(--gap-12);
}

.modal__form-label textarea {
  color: var(--color-secondary-opacity);
  padding: 12px 16px;
  resize: none;
  height: 120px;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 20px;
}

.modal__form-label {
  padding-bottom: 4px;
  color: var(--color-secondary);
  font-size: var(--font-12);
  line-height: var(--font-14);
  letter-spacing: var(--l-spacing-01);
}

.modal__label-wrapper {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.modal__form-input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
}

.modal__label-wrapper svg {
  position: absolute;
  fill: var(--color-bg-dark);
  margin-left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__label-wrapper input,
.modal__form-label textarea {
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--color-primary-opacity);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__label-wrapper input:focus,
.modal__form-label textarea:focus {
  border: 1px solid var(--color-accent);
}

.modal__label-wrapper input:focus + svg {
  fill: var(--color-accent);
}

.modal__policy-wrapper {
  display: flex;
}

.modal__policy {
  cursor: pointer;
  display: flex;
}

.modal__policy a {
  text-decoration: underline;
  color: var(--color-accent);
}

.modal__policy a:hover,
.modal__policy a:focus {
  opacity: 0.8;
}

.modal__policy input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.modal__checkmark {
  display: flex;
  height: 16px;
  width: 15px;
  border: 2px solid var(--color-bg-dark);
  /*
  border-radius: 2px;
  */
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 3px;
  margin-right: 8px;
}

.modal__policy:hover input ~ .modal__checkmark {
  background-color: #ffffff;
}

.modal__policy input:checked ~ .modal__checkmark {
  background-color: var(--color-accent);
  border: none;
}

.modal__checkmark-svg {
  display: none;
  opacity: 0;
}

.modal__policy input:checked ~ .modal__checkmark .modal__checkmark-svg {
  display: block;
  opacity: 1;
}

.modal__policy-wrapper .modal__policy-text {
}

.modal__policy-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  margin: auto;
}

.modal__policy-wrapper {
  display: block;
  margin-left: 15px;
  margin-right: 17px;
}

.modal__form-label ::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

/* ======= end-form ======== */

/* ==== end-backdrop-modal-window ==== */