:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;

  --color-primary: #212121;
  --color-primary-opacity: rgba(33, 33, 33, 0.2);
  --color-secondary: #757575;
  --color-secondary-opacity: rgba(117, 117, 117, 0.5);
  --color-accent: #2196f3;
  --color-bg-dark: #2f303a;
  --color-bg-dark-opacity: rgba(47, 48, 58, 0.8);
  --color-bg-light: #f5f4fa;
  --color-socials: #afb1b8;

  --font-12: 12px;
  --font-14: 14px;

  --l-spacing-01: 0.01em;

  --gap-12: 12px;
}